body{
	margin: 0px; padding: 0px;  
	font-family: arial; 
	font-size: 14px; 
	background-color: #e9eaed;
}

.container{
	width: 500px; 
	margin: 0 auto;
}

.header{
	background-color: #3b5998; 
	height: 20px; 
	width: 100%; 
	padding: 15px 0px;
}

.head_user{
	margin: 0px; 
	color: #fff;
}

.logout{
	float: right; 
	color: #fff; 
	text-decoration: none;
}

.logout:hover{
	text-decoration: underline;
}

.footer{
	width: 100%; 
	margin:0px; 
	text-align: left; 
	background-color: #ccc; 
	padding: 15px 0px;
}
.footer p{
	margin: 0px;
}

.wrapper{
	width: 100%; 
	min-height: 500px; 
	background-color: #fff; 
	padding: 0px; 
	padding: 15px;
}

.middle_box{
	width: 100%; 
	float: left; 
	min-height: 250px;
}

.clear{
	clear: both;
}
.row_ele{
	width: 100%; 
	margin: 5px 0px; 
	clear: both;
}

.row_ele label{
	float: left; 
	margin: 10px 15px 0px 0px; 
	min-width: 15%;
}
.input{
	width: 50%; padding: 5px; 
	border-radius: 2px; 
	border: #ccc solid 1px; 
	margin: 5px 0px; 
	float: left;
}

.textarea{
	width: 95%; 
	margin: 5px 0px 0px; 
	padding: 5px; 
	border-radius: 3px; 
	resize:none;
}
.btn{
	background-color: #3b5998; 
	color: #fff; 
	padding: 5px 15px; 
	margin: 0px; 
	border: 0px;
}

.feed_form{
	width: 100%; 
	margin: 0px; 
	border-bottom: #ccc solid 1px;
}

.feed_div{
	width: 100%; 
	margin: 15px 0px 0px;
}

.feed_box{
	width: 100%; 
	margin: 0px; 
	padding-bottom: 5px; 
	border-bottom: #ccc solid 1px; 
	padding: 5px 0px 10px;
}
.feed_left{
	width: 20%; 
	float: left; 
	text-align: center;
}

.feed_right{
	width: 70%; 
	float: left; 
	text-align: left;
}

.feed_left p{
	margin: 0px;
}

.feed_left p img{
	margin-top: 10px;
}

.userimg{
	width: 50px; 
	height: 50px; 
	border-radius: 50%;
}
.link_btn{
	color: #3b5998; 
	text-decoration: none; 
	font-size: 13px;
	font-style: italic;
}

.link_btn:hover{
	text-decoration: none;
}

.likebox{
	color: #000; 
	font-size: 12px; 
	font-style: italic;
}

.user_select{
	margin: 4px 15px 0px 0px; 
	padding: 5px; 
	width: 200px;
}

.mar_top_20{
	margin-top: 20px;
}

.comment_input{
	width: 75%; 
	float: left; 
	margin-top: 0px; 
	margin-right: 10px;
}

.comment_div{
	width: 100%; 
	margin: 10px 0px; 
	background-color: #e9eaed; 
	padding: 10px;
}
.comment_ele{
	width: 100%; 
	clear: both; 
	margin-bottom: 10px; 
	padding-bottom: 5px; 
	border-bottom: #ccc solid 1px;
}
.comment_ele p{
	margin: 0px;
}